:root{
  --accent-color: coral;
  --accent-color-2:#cbff55;
  --main-color: #f1f9e0;
  --default-font: ;
  --title-font: ;
 
}

h1 {
  font-family: var(--title-font);
  color: var(--accent-color);
  text-align: center;
  font-size: 6vw;
  padding-top: 0px;
  margin-top: 0px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 2.5vw;
}

h3 {
  font: var(--default-font);
  font-size: 2vw;
}

html {
  background-color: var(--main-color);
}

text{
  font-family: var(--default-font);
}

nav {
  text-align: center;
  text-decoration: underline;
  padding: 15px;
}

hr {
  position: relative;
  right: 15px;
  margin-bottom: 25px;
  padding-bottom: none;
  width: 110%;
  border: none;
  height: 5px;
  background-color: var(--accent-color-2);
}

div hr {
  width: 70%;
  position: relative;
  left: 5px;
}

b {
  color: var(--accent-color);
}

p {
  font-family: var(--default-font);
  font-size: 1.5vw;
}

img {
  padding: none;
  margin: none;
}

nav a {
  padding: 10px;
  color: var(--accent-color);
  font-size: 2vw;
}

a:link {
  color: var(--accent-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #f7c054;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.boxRight {
  float: right;
  min-height: 250px;
  width: 45%;
  border: 10px dashed var(--accent-color);
  text-align: center;
}

.boxLeft {
  min-height: 250px;
  width: 45%;
  border: 10px dashed var(--accent-color);
  text-align: center;
}

.flexbox {
  font-family: var(--default-font);
  display: flex;
  flex-direction: column;
  border: 5px dashed var(--accent-color);
  padding-left: 15px;
}

.flexbox h2 {
  font-size: 1.5vw;
  text-align: left;
}

.flexbox h3 {
  font-size: 1vw;
  padding-left: 25px;
}

.flexbox img {
  float: right;
  width: 2.5vw;
  height: 2.5vw;
}

.instagram {
  
  width: 32%;
  margin: auto;
  
}


